.main_content_container {
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 200px);
}

.restaurant_title {
    margin-top: 40px;
}

.restaurant_info_section {
    position: relative;
    display: flex;
    flex-direction: column;
}

.restaurant_info_images {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main_restaurant_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.main_restaurant_logo {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.restaurant_rating {
    color: var(--primary-color)
}

.dish_category_navbar {
    background-color: #F7F6F1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow: auto;
}

#existing_dish_categories {
    display: flex;
}

.dish_category {
    margin: 0 20px 0 20px;
    cursor: pointer;
}

.dish_category:hover {
    text-decoration: underline;
}

.dish_category_extras {
    margin-left: 0;
}

.dish_category_navbar img {
    height: 30px;
    width: 30px;
}

.dish_category_article {
    display: flex;
    flex-direction: column;
}

.dish_category_header_img {
    height: 175px;
    object-fit: cover;
}

.dish_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175px;
    border: 1px solid rgb(235, 231, 231);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dish_container img {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-left: 1px solid rgb(235, 231, 231);
    border-bottom: 1px solid rgb(235, 231, 231);
    cursor: pointer;
}

.dish_price {
    color: var(--primary-color);
}

#confirm_order_dialog {
    height: 50vh;
    width: 50%;
    border: none;
}

#confirm_order_dialog span {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#confirm_order_dialog::backdrop {
    background: rgba(20, 20, 20, 0.342);
}

@media (max-width: 800px) {
    .main_content_container {
        width: 100%;
        margin-bottom: 0; 
    }
}