:root {
    --primary-color: #FF8000;
    --secondary-color: #030331;
    --third-color: gray;

}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    color: var(--secondary-color);
}

p {
    color: var(--third-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color)
}

body {
    font-family: 'Rubik';
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.d-none {
    display: none;
}

.mg16{
    margin: 16px; 
}

.pdl-l6{
    padding-left: 16px;
}

.flex-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}